.users-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.person-container {
    width: 25%;
    background: #d6edd5;
    margin: 15px;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
}

.main-label {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}